

  <input #fileInput hidden="true" type="file" (change)="fileInputChange($event);selectFile($event)">
  <button style="margin-right: 0.5em;" mat-raised-button color="primary" (click)="fileInput.click();selectFile($event)">
    <mat-icon>add_to_photos</mat-icon>
    Choose Files
  </button>

  <button mat-raised-button [disabled]="!selectedFiles" (click)="upload()">Upload</button>

  <mat-progress-bar *ngIf="currentFile" style="margin:0.5em;" mode="determinate" value="{{ progress }}"></mat-progress-bar>

  
  <div *ngIf="message" class="alert alert-secondary" role="alert">
    {{ message }}
  </div>

  <mat-list style="margin-top:1em;">
  <mat-list-item style="margin-top:1em;margin-bottom:2em;" *ngFor="let file of fileInfos | async; let i = index;">
    <mat-icon mat-list-icon style="margin-bottom:56px;">image</mat-icon>
    <div mat-line>{{ file.name }}</div>

    
    <div mat-line style="margin-bottom: 10px;margin-top:10px;">
      <a mat-button color="warn" style="float:right;">
        
        <mat-icon>delete</mat-icon> Delete
      </a>
      
      <a mat-button color="accent" (click)="getCopyUrl(i)" style="float:right;">
        <mat-icon>file_copy</mat-icon> Copy Embed
      </a>
      
  </div>
  <mat-divider></mat-divider>
    </mat-list-item>
    
  </mat-list>

