
<!-- <mat-card style="border-left: 5px solid #2c74a1ce !important;" class="!bg-[#101010]/80 shadow-lg m-[2em] select-none"
  id="top-box">
  <mat-card-header>
    <mat-card-title>Current Projects</mat-card-title>
    <mat-card-subtitle>Some of my latest work.</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <p class="text-[1rem] font-[200]">As of late I have been redeveloping past projects that use older methods and
      technologies <span class="italic">(PHP,
        and plain JS/HTML/CSS)</span> and modernizing them by using modern practices such as RESTful API's
      <span class="italic">(Express/Sequelize/Node.js, Spring/Java)</span> on the backend while using front-end
      frameworks
      <span class="italic">(Angular and React)</span>
    </p>

    <p class="text-[1rem] font-[200]">You can view some of those projects in my github repositories or gallery below.
    </p>

    <a href="https://github.com/tonywied17?tab=repositories" target="_blank" mat-stroked-button><i
        class="fa-brands fa-github pr-2"></i>Github</a>


  </mat-card-content>

</mat-card> -->

<div class="lg:mx-[2em] mx-[1em]">
<div class="grid grid-cols-1 lg:grid-cols-6 gap-8 w-full lg:w-[unset]">

  <div class="lg:col-span-4 lg:col-start-1 mt-[2em]">

    <div *ngFor="let project of projects">

      <mat-card class="card lg:mb-[2em] mb-[1em]" style="border-left: 5px solid #4da9dece !important;background: #101010d2 !important;">
        <mat-card-header>
          <mat-card-title>{{project.title}}</mat-card-title>
          <mat-card-subtitle>{{project.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{project.details}}
        </mat-card-content>
        <mat-card-actions align="end">
          <button [routerLink]="'/portfolio/' + project.id" target="_blank" mat-button class="text-[1.1rem] !px-[15px]" style="background: linear-gradient(to right, rgb(16, 60, 100), rgba(9, 37, 63, 1.0));">
            <i class="fa-solid fa-magnifying-glass pr-2"></i> More Details</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>



  <div class="lg:col-start-5 lg:col-span-2 lg:sticky lg:top-0 lg:self-start">
    <h1 style="border-bottom: 1px dotted rgb(253, 253, 253);">Filters <i class="fa-sharp fa-solid fa-filter-list"></i>
    </h1>
    <mat-card style="border-left: 5px solid #175b83ce !important;background: linear-gradient(to right, rgba(9, 37, 63, 1.0), rgba(9, 37, 63, 0.2));" class="accent-card shadow-lg select-none mb-[200px] !px-[2em]">

      <h3 class="mt-[0]">Tags</h3>

      <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedValue">
        <mat-radio-button value="1" (change)="getProjectTag('Angular');clearSortingFilters2()">Angular</mat-radio-button>
        <mat-radio-button value="4" (change)="getProjectTag('Node.js');clearSortingFilters2()">Node.js</mat-radio-button>
        <mat-radio-button value="6" (change)="getProjectTag('TypeScript');clearSortingFilters2()">TypeScript</mat-radio-button>
        <mat-radio-button value="7" (change)="getProjectTag('Tailwind');clearSortingFilters2()">Tailwind</mat-radio-button>
        <!-- <mat-radio-button value="2" (change)="getProjectTag('CSS')">CSS, SCSS</mat-radio-button> -->
        <!-- <mat-radio-button value="3" (change)="getProjectTag('SQL')">SQL</mat-radio-button> -->
        <mat-radio-button value="8" (change)="getProjectTag('REST');clearSortingFilters2()">REST/API</mat-radio-button>
        <!-- <mat-radio-button value="9" (change)="getProjectTag('JWT')">JWT/Auth</mat-radio-button> -->
        <mat-radio-button value="5" (change)="getProjectTag('PHP');clearSortingFilters2()">PHP</mat-radio-button>
      </mat-radio-group>


      <h3>Development Status</h3>

      <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedValue2">
        <mat-radio-button value="1" (change)="getProjectDev(false);clearSortingFilters();">Completed</mat-radio-button>
        <mat-radio-button value="4" (change)="getProjectDev(true);clearSortingFilters();">In Development</mat-radio-button>
      </mat-radio-group>


      <div class="lg:text-right mt-[1.5em]">
        <button mat-button color="primary" (click)="getAllProjects();clearSortingFilters();clearSortingFilters2()"><i
            class="fa-solid fa-list"></i> View All</button>
        <a color="primary" target="_blank" href="https://tonewebdesign.com/assets/portfolio.json" mat-button
          style="margin-right:0.5em;"><i class="fa-solid fa-code"></i> JSON</a>
      </div>
    </mat-card>
  </div>

</div>

</div>