<!-- 
<header class="page">
  <h1 class="page-title">Latest Articles</h1>
  <div class="page-desc">This will be the page to view the headlines/posts and sort by team and then hit read more.</div>
</header> -->
<h1 class="page-header">Services.</h1>


<div class="select-none">
  <mat-card class="news-card">
   <mat-card-title>Technology Solutions</mat-card-title>
   <mat-card-subtitle style="font-weight:100;">List of services I currently offer.</mat-card-subtitle>
   <mat-card-content>
    
    <p class="text-[1.1rem]">Do to my latest time constraints all my services are done at-will when I have additional allotted time to work on a project. Still feel free to reach 
    out for any possible services you may require.</p>

    <h2 class="text-[1.5rem]">Available Services</h2>

<ul class="fa-ul font-[200] select-text">
    <li><span class="fa-li"><i class="fa-solid fa-pen-ruler"></i></span>Frontend/UI Development</li>
    <li><span class="fa-li"><i class="fa-solid fa-cubes-stacked"></i></span>Full Stack Applications</li>
    <li><span class="fa-li"><i class="fa-brands fa-discord"></i></span>Discord Bots</li>
    <li><span class="fa-li"><i class="fa-brands fa-stripe"></i></span>API's and Payment Gateways</li>
    <li><span class="fa-li"><i class="fa-solid fa-computer"></i></span>Computer Hardware Diagnostics and Repair</li>
  </ul>

  <p>Contact me on my personal email <span class="text-[#fbbf12] font-[900] select-all">tonywied17@gmail.com</span>, or on discord <span class="select-all text-[#7289da] font-[900]">molex#2829</span></p>

   </mat-card-content>
   <mat-card-actions align="end">
  
   </mat-card-actions>
  </mat-card>
 </div>

