<!-- 
<header class="page">
  <h1 class="page-title">Latest Articles</h1>
  <div class="page-desc">This will be the page to view the headlines/posts and sort by team and then hit read more.</div>
</header> -->
<div class="lg:mx-[2em] mx-[1em] lg:mt-[2em] mt-[1em]">
  <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-8 w-full lg:w-[unset]">
    <div class="select-none lg:col-start-1 lg:col-span-2">
      <mat-card class="news-card !p-[1.5em]">
        <mat-card-title>Technology Solutions</mat-card-title>
        <mat-card-subtitle style="font-weight:100;">List of services I currently offer.</mat-card-subtitle>
        <mat-card-content>

          <p class="text-[1.1rem]">Do to my latest time constraints all my services are done at-will when I have
            additional allotted time to work on a project. Still feel free to reach
            out for any possible services you may require.</p>

          <h2 class="text-[1.5rem]">Available Services</h2>

          <ul class="fa-ul font-[200] select-text">
            <li><span class="fa-li"><i class="fa-solid fa-pen-ruler"></i></span>Frontend/UI Development</li>
            <li><span class="fa-li"><i class="fa-solid fa-cubes-stacked"></i></span>Full Stack Applications</li>
            <li><span class="fa-li"><i class="fa-brands fa-discord"></i></span>Discord Bots</li>
            <li><span class="fa-li"><i class="fa-brands fa-stripe"></i></span>API's and Payment Gateways</li>
            <li><span class="fa-li"><i class="fa-solid fa-computer"></i></span>Computer Hardware Diagnostics and Repair
            </li>
          </ul>


        </mat-card-content>
        <mat-card-actions align="end">

        </mat-card-actions>
      </mat-card>
    </div>

    <div class="lg:col-start-3 col-span-1">
      <mat-card style="border-left: 5px solid #2c74a1ce !important;background: #101010d2 !important;"
        class="news-card !bg-[#101010]/80 shadow-lg" id="top-box">
        <mat-card-content>
          <h3 class="mt-[2em]"><i class="fa-sharp fa-regular fa-address-card pr-2"></i>Get in Contact</h3>

          <p class="italic font-thin text-lg mt-[-1em] mb-[1.5em]">Best ways to get in touch with me</p>

          <ul class="fa-ul space-y-2">
            <li class="text-[1.2rem] font-[300]"><span class="fa-li"><i
                  class="fa-regular fa-envelope !text-[#e94234] pr-2"></i></span><span
                class="select-all">tonywied17@gmail.com</span></li>
            <li class="text-[1.2rem] font-[300] mb-[2em]"><span class="fa-li"><i
                  class="fa-brands fa-discord !text-[#7289da] pr-2"></i></span><span
                class="select-all">molex#2829</span></li>
          </ul>

          <h5 class="mt-[2.5em] mb-0">Web Links</h5>
          <ul class="fa-ul space-y-2">
            <li class="text-[1rem] font-[200]"><span class="fa-li"><i
                  class="fa-brands fa-github !text-[#f9fafb] pr-2"></i></span><a class="view"
                href="https://github.com/tonywied17/" target="_blank">GitHub</a></li>
            <li class="text-[1rem] font-[200]"><span class="fa-li"><i
                  class="fa-brands fa-linkedin-in !text-[#0e72a3] pr-2"></i></span><a class="view"
                href="https://www.linkedin.com/in/tony-wiedman-1ba44a187/" target="_blank">LinkedIn</a></li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>



</div>