
<div class="lg:m-[2em] mx-[1em]">
    <div class="select-none grid grid-cols-1 lg:grid-cols-5 lg:gap-10 w-full !mx-[unset]">

        <div class="lg:col-start-1 lg:col-span-3">
            <mat-card class="news-card lg:!px-[2em]">
                <mat-card-title>{{currentProject.title}}
                    <button class="!mt-[2em] md:float-right !hidden md:!inline-block" [routerLink]="'/portfolio/'" target="_blank" mat-stroked-button><i class="fa-solid fa-arrow-left pr-2"></i>Back to Projects</button>
                </mat-card-title>
                <mat-card-subtitle style="font-weight:100;" class="!select-text">{{currentProject.subtitle}}</mat-card-subtitle>
                <mat-card-content>


                    <img (click)="open(currentProject.image, currentProject.title, 1500, 868)" [src]="currentProject.image" class="proj-image h-auto max-w-full rounded-lg shadow-none transition-all duration-300 ease-in-out hover:shadow-lg hover:shadow-black/30 cursor-zoom-in">

                </mat-card-content>
                <mat-card-actions align="end">
                    <button class="!mt-[-1em] !mb-[1em] md:!hidden inline-block" [routerLink]="'/portfolio/'" target="_blank" mat-stroked-button><i class="fa-solid fa-arrow-left pr-2"></i>Back to Projects</button>
                </mat-card-actions>
            </mat-card>

        </div>


        <div class="lg:col-start-4 lg:col-span-2 md:sticky md:top-0 md:self-start">
            <mat-card style="border-left: 5px solid #2c74a1ce !important;background: #101010d2 !important;"
                class="news-card !bg-[#101010]/80 shadow-lg" id="top-box">
     

                <mat-card-content>

                    <div *ngIf="currentProject.dev" class="text-amber-200 text-lg !font-light !text-right hidden lg:block">
                        <i class="fa-solid fa-traffic-cone !text-amber-600 pr-2"></i>Under Development
                    </div>
                    <div *ngIf="!currentProject.dev" class="text-green-200 text-lg !font-light !text-right hidden lg:block">
                        <i class="fa-solid fa-check-to-slot !text-green-600 pr-2"></i>Project Completed
                    </div>
                    
                    <h3 class="lg:mt-[-1em] mt-[-5px]"><i class="fa-regular fa-file-circle-info pr-2"></i>Project Details</h3>

                    <div *ngIf="currentProject.dev" class="text-amber-200 text-sm !font-light lg:hidden block">
                        <i class="fa-solid fa-traffic-cone !text-amber-600 pr-2"></i>Under Development
                    </div>
                    <div *ngIf="!currentProject.dev" class="text-green-200 text-sm !font-light lg:hidden block">
                        <i class="fa-solid fa-check-to-slot !text-green-600 pr-2"></i>Project Completed
                    </div>


                    <ol class="fa-ul text-[1rem] font-[200]">               
                        <li class="mt-[1.5em]"><span class="fa-li"><i class="fa-solid fa-circle-info !text-[#255f84]"></i></span><p class="mr-2 font-bold mb-[0]">Description</p><span class="!select-text ml-[-2px] inline-block">{{currentProject.details}}</span></li>
                        
                        <li class="mt-[1.5em]"><span class="fa-li"><i class="fa-solid fa-globe !text-[#255f84]"></i></span>
                            <p class="mr-2 font-bold mb-[0]">Live Deployment</p>
                            <span class="!select-text ml-[-2px] inline-block"><a class="view !select-text" href="{{currentProject.url}}" target="_blank">{{currentProject.url}}</a></span>
                        </li>
                    </ol>

                    <h3 class="mt-[2em]"><i class="fa-brands fa-github pr-2"></i>View on GitHub</h3>

                    <div *ngIf="repos.length === 0;">

                        <ol class="fa-ul text-[1rem] font-[200]">
                            <li>
                              <span class="fa-li"><i class="fa-solid fa-empty-set !text-red-600 !text-sm"></i></span> <span class="!text-red-200">No github repo's found for this project.</span>
                            </li>
                          </ol>
                    </div>

                    <ol class="fa-ul text-[1rem] font-[200]" *ngFor="let repo of repos">
                        <li>
                          <span class="fa-li"><i class="fa-solid fa-link !text-[#255f84]"></i></span>
                          <a class="view !select-text" href="{{repo.repoUrl}}" target="_blank">{{repo.repoUrl}}</a>

                          <span class="!select-text block text-[.79rem] text-[#b7d9ed]/60 lg:py-1 lg:text-left text-right pt-[5px] mb-[2em]">
                            <span class="lg:hidden inline-block">updated </span>
                            <span class="hidden lg:inline-block">Last updated </span>
                            {{repo.pushedAt}}<span class="hidden lg:inline-block">.</span>
                            </span>

                        </li>
                      </ol>

                    
                    <h3 class="mt-[2em]"><i class="fa-solid fa-code pr-2"></i>Tech Stack Tags</h3>

                    <div class="text-[1rem] font-[200] w-full">
                        
                        <span class="m-2 inline-block !select-text" *ngFor="let tag of tags"><i class="fa-sharp fa-solid fa-tag !text-[#255f84]"></i> {{tag}}</span>
     
                    </div>

                    

                </mat-card-content>

            </mat-card>
        </div>

    </div>
</div>