
<div class="lg:m-[2em] mx-[1em]">
    <div class="select-none grid grid-cols-1 lg:grid-cols-5 lg:gap-10 w-full !mx-[unset]">

        <div class="lg:col-start-1 lg:col-span-3">
            <mat-card class="news-card">
                <mat-card-title>{{currentProject.title}}
                    <button class="!mt-[2em] md:float-right !hidden md:!inline-block" [routerLink]="'/portfolio/'" target="_blank" mat-stroked-button><i class="fa-solid fa-arrow-left pr-2"></i>Back to Projects</button>
                </mat-card-title>
                <mat-card-subtitle style="font-weight:100;">{{currentProject.subtitle}}</mat-card-subtitle>
                <mat-card-content>


                    <img (click)="open(currentProject.image, currentProject.title, 1500, 868)" [src]="currentProject.image" class="proj-image h-auto max-w-full rounded-lg shadow-none transition-all duration-300 ease-in-out hover:shadow-lg hover:shadow-black/30 cursor-zoom-in">

                </mat-card-content>
                <mat-card-actions align="end">
                    <button class="!mt-[-1em] !mb-[1em] md:!hidden inline-block" [routerLink]="'/portfolio/'" target="_blank" mat-stroked-button><i class="fa-solid fa-arrow-left pr-2"></i>Back to Projects</button>
                </mat-card-actions>
            </mat-card>

        </div>


        <div class="lg:col-start-4 lg:col-span-2 md:sticky md:top-0 md:self-start">
            <mat-card style="border-left: 5px solid #2c74a1ce !important;"
                class="news-card !bg-[#101010]/80 shadow-lg select-none" id="top-box">
     

                <mat-card-content>
                    
                    <h3 class="mt-[2em]"><i class="fa-regular fa-file-circle-info pr-2"></i>Project Details</h3>
                    <ol class="fa-ul text-[1rem] font-[200]">

                        <li *ngIf="currentProject.dev" class="mt-[1.5em] text-amber-200"><span class="fa-li"><i class="fa-solid fa-traffic-cone !text-amber-600"></i></span><b class="mr-2">Under Development</b></li>
                        <li *ngIf="!currentProject.dev" class="mt-[1.5em]"><span class="fa-li"><i class="fa-solid fa-check-to-slot"></i></span><b class="mr-2">Project Completed</b></li>

                        <li class="mt-[1.5em]"><span class="fa-li"><i class="fa-solid fa-circle-info !text-[#255f84]"></i></span><p class="mr-2 font-bold mb-[0]">Description</p>{{currentProject.details}}</li>

                        <li class="mt-[1.5em]"><span class="fa-li"><i class="fa-solid fa-link !text-[#255f84]"></i></span><b class="mr-2">View</b><a class="view" href="{{currentProject.url}}" target="_blank">{{currentProject.url}}</a></li>
                    </ol>

                    <h3 class="mt-[2em]"><i class="fa-brands fa-github pr-2"></i>View on GitHub</h3>

                    <p *ngIf="repos.length === 0;" class="text-[1rem] font-[200] italic">No github repo's found for this project.</p>
                    <ol class="fa-ul text-[1rem] font-[200]" *ngFor="let repo of repos">
                        
                        <li><span class="fa-li"><i class="fa-solid fa-link !text-[#255f84]"></i></span><a class="view" href="{{repo}}" target="_blank">{{repo}}</a></li>
     
                    </ol>

                    
                    <h3 class="mt-[2em]"><i class="fa-solid fa-code pr-2"></i>Tech Stack Tags</h3>

                    <div class="fa-ul text-[1rem] font-[200]">
                        
                        <span class="m-2 inline-block" *ngFor="let tag of tags"><i class="fa-sharp fa-solid fa-tag !text-[#255f84]"></i> {{tag}}</span>
     
                    </div>

                    

                </mat-card-content>

            </mat-card>
        </div>

    </div>
</div>