<h1 class="page-header">Welcome!</h1>

<div class="row">

  <div class="column">
    <mat-card class="news-card">
      <mat-card-header>
        <mat-card-title><img src="https://tbz.wtf/2023/January/21/_qPz/kenobi.png" class="h-[35px] w-auto mb-[-5px]"> Hello There!</mat-card-title>
        <mat-card-subtitle>See some of my past work and the services that I offer.</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        Welcome visitor! Here we offer a wide variety of technology solutions specializing in, but not limited to full stack application development. For more information browse the portfolio and services sections.
      </mat-card-content>

    </mat-card>
  </div>

   </div>